<div>
  <h1>Welcome to our events!</h1>
     <h2>Our closest events:</h2>
     <hr>     
     <div style="margin-top:30px">
     Event: {{event.name}}
     </div>
     <div>
     Date: {{event.date}}
     </div>
     <div>
     Time: {{event.time}}
     </div>
     <div>
     Address: {{event.location.address}}, {{event.location.city}}, {{event.location.country}}
     </div>
     </div><event-address [address]="event.location"></event-address>
     
        <td>{{event.name}}</td>
        <td>{{event.date}} </td>      
        <td>{{event.location?.address}}</td>
        <td>{{event.location?.city}}</td>
        <td>{{event.location?.country}}</td>